.nav__list{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav__link{
  margin: 0 20px;
  color:black;
}
.nav__link-active{
  color:#f00;
}
.nav__link:hover{
  text-decoration: none;
}
